*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
}

:root{
    --bg-color: #000000;
    --bg-button-color:#1a1a1a;
    --bg-task-color:#2a2a2a;
    --primary-text-color: #f4f4f4;
    --delete-color:#ff4d4d;
    --nav-padding:15px 30px;
    --section-padding:15px 30px;


    /* Padding Variables */
    --padding-s:5px;
    --padding-m:10px;
    --padding-l:15px;
    --padding-xl:20px;
    --padding-2xl:30px;

    /* border radius variables */
     --border-radius-s:5px;
    --border-radius-m:10px;
    --border-radius-l:15px;
    --border-radius-xl:20px;
    --border-radius-2xl:30px;
}

body{
    background-color: var(--bg-color);
    color: var (--primary-text-color);
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}